<% provide(:title, @board.name) %>
<div class="row">
  <aside class="span3">
    <section>
	  <h1>
		<%= "Board: " + @board.name %>
	  </h1>
	  <br />
		<%= "Height: " + pluralize(@board.height, "tile") %>
		<br />
		<%= "Width: " + pluralize(@board.width, "tile") %>
		<br />
		<%= "Created by: " + @board.user.name %>
		<br />
		<%= @board.timezone %>
	  <br />
	  <br />
	  <br />
	  <br />
	  <%= button_to "Create advertisement", new_board_advertisement_path(@board), 
		class: "btn btn-large btn-primary" %>
    </section>	  
  </aside>
  <div class="span9">
    <% if @board.advertisements.any? %>
      <h3>Advertisements (<%= @board.advertisements.count %>)</h3>
      <ol class="microposts">
        <%= render @advertisements %>
      </ol>
      <%= will_paginate @advertisements %>
    <% end %>
  </div>
</div>
<div class="ad_container" style="width:<%=@board.width * 64%>px; height:<%=@board.height*64%>px; position: relative;">
	<% @board.advertisements.each do |f| %>
		<img src="<%= url_for(controller: "advertisements", action: "show", id: f.id) %>" id="<%= "ad_#{f.id}_image" %>" style="position: absolute; left: <%= f.x_location * 64%>px; top:<%= f.y_location * 64 %>px; width:<%= f.width * 64 %>px; height: <%= f.height * 64 %>px; z-index: <%= f.id %>;">
	<% end %>
</div>
